* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}




/* fonts */
@font-face {
    font-family: Causten-Black;
    src: url(../../warehouse/data/fonts/Causten/Causten-Black.otf);
}

@font-face {
    font-family: Causten-Bold;
    src: url(../../warehouse/data/fonts/Causten/Causten-Bold.otf);
}


@font-face {
    font-family: Causten-ExtraBold;
    src: url(../../warehouse/data/fonts/Causten/Causten-ExtraBold.otf);
}

@font-face {
    font-family: Causten-ExtraLight;
    src: url(../../warehouse/data/fonts/Causten/Causten-ExtraLight.otf);
}

@font-face {
    font-family: Causten-Light;
    src: url(../../warehouse/data/fonts/Causten/Causten-Light.otf);
}

@font-face {
    font-family: Causten-Medium;
    src: url(../../warehouse/data/fonts/Causten/Causten-Medium.otf);
}


@font-face {
    font-family: Causten-Regular;
    src: url(../../warehouse/data/fonts/Causten/Causten-Regular.otf);
}


@font-face {
    font-family: Causten-SemiBold;
    src: url(../../warehouse/data/fonts/Causten/Causten-SemiBold.otf);
}


@font-face {
    font-family: Causten-thin;
    src: url(../../warehouse/data/fonts/Causten/Causten-Thin.otf);
}

@font-face {
    font-family: TheSilverEditorial-Italic;
    src: url(../../warehouse/data/fonts/theSilverEd/TheSilverEditorial-Italic.woff);
}

@font-face {
    font-family: TheSilverEditorial-Regular;
    src: url(../../warehouse/data/fonts/theSilverEd/TheSilverEditorial-Regular.woff);
}

/* Overlay background */
#confettiPopup {
    font-family: Causten-Bold;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Popup container */
#confettiPopup .popup-content {
    position: relative;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#confettiPopup .popup-content h2 {
    margin-bottom: 1rem;
}

/* Close button */
#confettiPopup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f44336;
    border: none;
    color: white;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

/* Confetti animation */
.confetti-piece {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0;
    opacity: 0.9;
    top: 0;
    animation: fall 3s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(300px) rotate(360deg);
    }
}

nav {
    position: fixed;
    bottom: 1vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.nav {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    font-family: Causten-Black;
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0.8em;
    padding-left: 30%;
    padding-right: 30%;
    margin: 0;
    background: #ffffff;
    border-radius: 15px;
}

.nav>#active>a {
    color: #76453B;
    text-decoration: underline;
}

.nav>li>a {
    color: black;
    text-decoration: none;
}

.nav>li {
    transition: transform 0.2s ease-in;
    /* Smooth and slow */
}

.nav>li:hover {
    transform: scale(0.8);
    text-decoration: underline;
    /* Slightly zoom in */
}

.nav>li:hover>a {
    color: #76453B;
    /* Slightly zoom in */
}

.nav>img {
    transform: rotate(180deg) scaleX(-1);
    width: 11rem;
    position: absolute;
    bottom: 1vh;
    z-index: -1;
    right: calc(25% - 11rem);
    opacity: 1;
    transition:
        opacity 0.2s ease-in-out 0.5s;
    /* 0.5s delay before fading in again */
}

.nav>img:hover {
    opacity: 0;
    transition:
        opacity 0.2s ease-in-out 0.5s;
    /* 0.5s delay before disappearing */
}


section {
    width: 100%;
    height: 110vh;
}



#hero>.hero-image {
    background: url(../../warehouse/data/images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 110vh;
    opacity: 65%;
    z-index: 1;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.719);
}

#hero>.text {
    font-family: Causten-Bold;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
}

#hero>.text>div>center>h1 {
    color: #76453B;
}

#hero>.text>div>span {
    transition: 0.5s ease-in-out;
    /* Helps smooth the font switch */
}

#hero>.text>div>span:hover {
    font-family: TheSilverEditorial-Regular;
    letter-spacing: 1px;
    color: #76453B;
    text-decoration: underline;
}

/*topofgame*/

.cursor-area {
    cursor: none;
}

#cursor-dot {
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(70, 70, 70) 0%, rgb(72, 72, 72) 22%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: none;
}

#cursor-img {
    position: fixed;
    width: 40px;
    /* cursor size */
    height: 40px;
    background-size: cover;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.25s ease;
    /* Smooth delay */
    display: none;
}

#topofgame {
    cursor: none;
    /* Hide only here */
    background: linear-gradient(0deg, rgba(248, 227, 198, 1) 0%, rgba(247, 255, 255, 1) 22%);
}

#topofgame>.text {
    font-family: Causten-Bold;
    font-size: 3rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
}

#topofgame>.text>div>center>h1,
h4 {
    color: #76453B;
}

#topofgame>.text>div>span {
    transition: 0.5s ease-in-out;
    /* Helps smooth the font switch */
}

#topofgame>.text>div>span:hover {
    font-family: TheSilverEditorial-Regular;
    letter-spacing: 1px;
    color: #76453B;
    text-decoration: underline;
}


/*Service*/
#Service {
    background: linear-gradient(180deg, rgba(248, 227, 198, 1) 87%, rgba(255, 255, 255, 1) 100%);
}

#Service>.text {
    font-family: Causten-Bold;
    font-size: 3rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
}

#Service>.title {
    font-family: Causten-Bold;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
    margin-bottom: -3rem;
    color: #76453B;
}

#Service>.text>div>center>h1,
h4 {
    color: #76453B;
}

#Service>.text>div>span {
    transition: 0.5s ease-in-out;
    /* Helps smooth the font switch */
}

#Service>.text>div>span:hover {
    font-family: TheSilverEditorial-Regular;
    letter-spacing: 1px;
    color: #76453B;
    text-decoration: underline;
}

.cards {
    --img-w: 200px;
    --duration: 300ms;
    --img-easing: cubic-bezier(0.34, 1.56, 0.64, 1);
    width: min(100% - 4rem, 800px);
    margin-inline: auto;
    display: grid;

    counter-reset: my-counter;
}

.card {
    --cards-grid-cols: auto;
    --cards-grid-rows: var(--img-w) auto;
    --cards-grid-gap: 2rem;
    --cards-footer-justify: center;

    grid-area: 1/1;
    display: grid;
    place-items: center;
    grid-template-columns: var(--cards-grid-cols);
    grid-template-rows: var(--cards-grid-rows);
    gap: var(--cards-grid-gap);

}

.card-data>h2 {
    font-size: xx-large;
    color: #76453B;
}

@media (600px < width) {
    .card {
        --cards-grid-cols: var(--img-w) auto;
        --cards-grid-rows: auto;
        --cards-grid-gap: 4rem;
        --cards-footer-justify: start;
    }
}


.card-img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    rotate: var(--angle, 0deg);
    border-radius: 10px;
    border: 3px solid #FFF;
    overflow: hidden;
    transform-origin: center;
    object-fit: cover;
    box-shadow: 0 0 5px 3px rgba(0 0 0 / .05);
}



input:nth-of-type(1):checked+.card~.card>.card-img {
    animation: straighten-img-1 calc(var(--duration) * 2) forwards;
    animation-timing-function: var(--img-easing);
}

.card:has(~input:nth-of-type(2):checked)>.card-img,
input:nth-of-type(2):checked+.card~.card>.card-img {
    animation: straighten-img-2 calc(var(--duration) * 2) forwards;
    animation-timing-function: var(--img-easing);
}

.card:has(~input:nth-of-type(3):checked)>.card-img,
input:nth-of-type(3):checked+.card~.card>.card-img {
    animation: straighten-img-3 calc(var(--duration) * 2) forwards;
    animation-timing-function: var(--img-easing);
}

.card:has(~input:nth-of-type(4):checked)>.card-img,
input:nth-of-type(4):checked+.card~.card>.card-img {
    animation: straighten-img-4 calc(var(--duration) * 2) forwards;
    animation-timing-function: var(--img-easing);
}

.card:has(~input:nth-of-type(5):checked)>.card-img,
input:nth-of-type(5):checked+.card~.card>.card-img {
    animation: straighten-img-5 calc(var(--duration) * 2) forwards;
    animation-timing-function: var(--img-easing);
}

.card:has(~input:nth-of-type(6):checked)>.card-img,
input:nth-of-type(6):checked+.card~.card>.card-img {
    animation: straighten-img-6 calc(var(--duration) * 2) forwards;
    animation-timing-function: var(--img-easing);
}

.card:has(~input:nth-of-type(7):checked)>.card-img,
input:nth-of-type(7):checked+.card~.card>.card-img {
    animation: straighten-img-7 calc(var(--duration) * 2) forwards;
    animation-timing-function: var(--img-easing);
}

/* as CSS can't remove animations, we change the animation according to which checkbox is checked  - all animations are the same (would be simpler with SCSS) */
@keyframes straighten-img-1 {
    50% {
        --angle: 0deg;
    }
}

@keyframes straighten-img-2 {
    50% {
        --angle: 0deg;
    }
}

@keyframes straighten-img-3 {
    50% {
        --angle: 0deg;
    }
}

@keyframes straighten-img-4 {
    50% {
        --angle: 0deg;
    }
}

@keyframes straighten-img-5 {
    50% {
        --angle: 0deg;
    }
}

@keyframes straighten-img-6 {
    50% {
        --angle: 0deg;
    }
}

@keyframes straighten-img-7 {
    50% {
        --angle: 0deg;
    }
}


/* stacking order - these are updated according to which card is selected */
.card {
    z-index: -1;
}

input:checked+.card {
    z-index: 10 !important;
}

/* next card checked - place behind */
.card:has(+input:checked) {
    z-index: 9;
}

/* next card +1 checked - place behind */
.card:has(+input + .card + input:checked) {
    z-index: 8;
}

/* next card +2 checked - place behind */
.card:has(+input + .card +input + .card + input:checked) {
    z-index: 7;
}

/* next card +3 checked - place behind */
.card:has(+input + .card +input + .card +input + .card + input:checked) {
    z-index: 6;
}

/* next card +4 checked - place behind */
.card:has(+input + .card +input + .card +input + .card +input + .card + input:checked) {
    z-index: 5;
}

/* next card +5 checked - place behind */
.card:has(+input + .card +input + .card +input +input + .card +input + .card +input + .card + input:checked) {
    z-index: 4;
}

/* next card +6 checked - place behind */
.card:has(+input + .card +input + .card +input + .card +input +input + .card +input + .card +input + .card + input:checked) {
    z-index: 3;
}

.card-data {
    display: grid;
    gap: 1rem;
}

.card-data>.card-num {
    opacity: var(--data-opacity, 0);
    font-size: .8rem;
    color: #666;
}

.card-data>p {
    font-size: 0.9rem;

}

.card-data>h2,
.card-data>p {
    transition: var(--duration) ease-in-out;
    transition-delay: var(--data-delay, 0ms);
    opacity: var(--data-opacity, 0);
    translate: 0 var(--data-y, 20px);
}

.card-data>footer {
    display: flex;
    justify-content: var(--cards-footer-justify);
    gap: 2rem;
}

.card-data>footer label {
    font-family: TheSilverEditorial-Regular;
    margin-block-start: auto;
    cursor: progress;
    pointer-events: var(--card-events, none);
    opacity: var(--data-opacity, 0);
    transition: color var(--duration) ease-in-out;
    color: var(--label-clr-txt, #000);
    border-radius: 100%;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    align-items: baseline;
    transition: 0.2s ease-in-out;
}


input:checked:focus-visible+.card>.card-data>footer label,
.card-data>footer label:hover {
    transform: scale(0.8);
}

input:checked+.card {
    --data-opacity: 1;
    --data-y: 0;
    --data-delay: var(--duration);
    --card-events: auto;
    transition: z-index;
    transition-delay: 300ms;
    /*z-index: 1;*/
}

input:checked+.card>.card-img {
    animation: reveal-img calc(var(--duration) * 2) forwards;
}

@keyframes reveal-img {
    50% {
        translate: -150% 0;
        --angle: 0deg;
    }
}


/* CAL.COM */

#calcom {
    width: 100%;
    height: 110vh;
}

#calcom>.text {
    font-family: Causten-Bold;
    font-size: 3rem;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
}

#calcom>.title {
    font-family: Causten-Bold;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
    color: #76453B;
}


#clients>.text {
    font-family: Causten-Bold;
    font-size: 3rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
}

#clients>.title {
    font-family: Causten-Bold;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
    color: #76453B;
}

/* latin */
@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.bunny.net/abel/files/abel-latin-400-normal.woff2) format('woff2'), url(https://fonts.bunny.net/abel/files/abel-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer demo {
    .carousel {
        --items: 6;
        --carousel-duration: 40s;

        @media (width > 600px) {
            --carousel-duration: 30s;
        }

        --carousel-width: min(80vw,
            1200px);
        /* note - it will "break" if it gets too wide and there aren't enough items */
        --carousel-item-width: 280px;
        --carousel-item-height: 450px;
        --carousel-item-gap: 2rem;

        --clr-cta: rgb(0, 132, 209);

        position: relative;
        width: var(--carousel-width);
        height: var(--carousel-item-height);
        overflow: clip;

        &[mask] {
            /* fade out on sides */
            mask-image: linear-gradient(to right,
                    transparent,
                    black 10% 90%,
                    transparent);
        }

        &[reverse]>article {
            animation-direction: reverse;
        }

        /* hover pauses animation */
        &:hover>article {
            animation-play-state: paused;
        }
    }

    .carousel>article {
        position: absolute;
        top: 0;
        left: calc(100% + var(--carousel-item-gap));
        width: var(--carousel-item-width);
        height: var(--carousel-item-height);
        background: light-dark(white, rgba(255 255 255 / 0.05));
        color: light-dark(rgb(49, 65, 88), white);

        /* animation */
        will-change: transform;
        animation-name: marquee;
        animation-duration: var(--carousel-duration);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: calc(var(--carousel-duration) / var(--items) * 1 * var(--i) * -1);

        &:nth-child(1) {
            --i: 0;
        }

        &:nth-child(2) {
            --i: 1;
        }

        &:nth-child(3) {
            --i: 2;
        }

        &:nth-child(4) {
            --i: 3;
        }

        &:nth-child(5) {
            --i: 4;
        }

        &:nth-child(6) {
            --i: 5;
        }

        &:nth-child(7) {
            --i: 6;
        }

        &:nth-child(8) {
            --i: 7;
        }
    }

    .carousel img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 10px;
    }

    .carousel>article>*:not(img) {
        padding: 0 1rem;
    }

    .carousel>article>div {
        grid-row: span 2;
        display: grid;
        grid-template-rows: subgrid;
        font-size: 0.8rem;
    }

    .carousel>article h2 {
        font-size: 1.2rem;
        font-weight: 300;
        padding-block: 0.75rem 0.25rem;
        margin: 0;
    }

    .carousel>article p {
        margin: 0;
    }

    .carousel>article a {
        text-decoration: none;
        text-transform: lowercase;
        border: 1px solid var(--clr-cta);
        color: light-dark(var(--clr-cta), white);
        border-radius: 3px;
        padding: 0.25rem 0.5rem;
        place-self: start;
        transition: 150ms ease-in-out;

        &:hover,
        &:focus-visible {
            background-color: var(--clr-cta);
            color: white;
            outline: none;
        }
    }

    @keyframes marquee {
        100% {
            transform: translateX(calc((var(--items) * (var(--carousel-item-width) + var(--carousel-item-gap))) * -1));
        }
    }
}

#about {
    --sq: 20vmin;
    /* square size */
    --lt: calc(var(--sq) / 20);
    /* line thickness */
    --c1: rgba(255, 255, 255, 0.128);
    /* background color */
    --c2: rgba(128, 128, 128, 0.13);
    /* line color */
    --c3: rgba(0, 0, 0, 0.169);
    /* dot inner color */
    --c4: rgba(255, 255, 255, 0.144);
    /* dot outer color */

    --line-grad:
        var(--c2) 0 calc(0% + var(--lt) / 2), #0000 0 calc(50% - var(--lt) / 2),
        var(--c2) 0 calc(50% + var(--lt) / 2), #0000 0 calc(100% - var(--lt) / 2),
        var(--c2) 0;

    margin: 0;
    height: 100vh;
    background:
        50% 50% / calc(var(--sq) * 2) calc(var(--sq) * 2) radial-gradient(var(--c3) calc(var(--lt) * .9), var(--c4) 0 calc(var(--lt) * 1.1), #0000 0),
        50% 50% / var(--sq) var(--sq) linear-gradient(0deg, var(--line-grad)),
        50% 50% / var(--sq) var(--sq) linear-gradient(90deg, var(--line-grad)),
        50% 50% / var(--sq) var(--sq) linear-gradient(45deg, var(--line-grad)),
        50% 50% / var(--sq) var(--sq) linear-gradient(-45deg, var(--line-grad)),
        var(--c1)
}

#about>.text {
    font-family: Causten-Bold;
    font-size: 3rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* Vertical center */
    justify-content: center;
    /* Horizontal center */
    z-index: 2;
}

#about>.text>.main {
    width: 50%;
    height: 80vh;
    padding: 5%;
}


#about>.text>.main>h2 {
    color: #76453B;
}


#about>.text>.main>p {
    font-size: x-large;
    padding: 2vh 0px;
}

#about>.text>.image {
    margin: 5%;
    background: url(../../warehouse/data/images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 40%;
    height: 80vh;
    border-radius: 15px;
    opacity: 90%;
}

.footer {
    box-shadow: inset -1px 0px 15px rgba(255, 255, 255, 0.299);
    border-radius: 25px 25px 0px 0px;
    color: white;
    font-family: Causten-Bold;
    background: linear-gradient(0deg, rgb(72, 72, 72) 20%, rgb(0, 0, 0) 100%);
    width: 100%;
    height: 60vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: center;
    background-size: 200% 200%;
    animation: auraGradient 6s ease-in-out infinite;
}

@keyframes auraGradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 40%;
    }

    100% {
        background-position: 0% -0%;
    }
}

.footer>.text {
    text-align: center;
    width: 100%;
}

.footer>.text>hr {
    opacity: 10%;
}

.footer>.text>h1 {
    font-size: 3rem;
}

.footer>.text>span {
    color: #ffffff51;
}

.footer>.text>span>a {
    color: #ffffff51;
}

.footer>.text>span>a:hover {
    color: #ffffffbb;
    letter-spacing: 1px;
}

@media (max-width:300px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    #calcom>.title {
        margin-bottom: 2vh;
    }

    #about>.text>.main {
        text-align: center;
    }

    #about>.text>.main>p {
        font-size: medium;
    }

    #about>.text>.image {
        display: none;
    }

    #calcom {
        margin-bottom: 4vh;
    }

    .footer {
        height: 40vh;
    }

    .nav>img {
        transform: rotate(180deg) scaleX(-1);
        width: 11rem;
        position: absolute;
        bottom: 1vh;
        z-index: -1;
        right: calc(35% - 11rem);
        opacity: 1;
        transition: opacity 0.2s ease-in-out 0.5s;
    }
}