body{
background:#0c0c1f;
color:white;
font-family:Arial;
margin:0;
}

.header{
padding:10px;
text-align:center;
}

#search{

width:90%;
padding:8px;
font-size:16px;
border:none;
border-radius:6px;

}

.categories{

display:flex;
justify-content:center;
gap:30px;
padding:10px;
font-size:20px;

}

.category{

opacity:0.5;
cursor:pointer;

}

.category.active{

opacity:1;
color:#4ecdc4;
font-weight:bold;

}

.games{

padding:15px;
height:60vh;
overflow-y:auto;

}

.game{

padding:10px;
border-bottom:1px solid #333;
display:flex;
justify-content:space-between;

}

.download-btn{

background:#4ecdc4;
border:none;
padding:5px 10px;
cursor:pointer;

}

.download-bar{

position:fixed;
bottom:0;
left:0;
right:0;
background:#1a1a2e;
padding:10px;
text-align:center;

}